<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon/favicon-16x16.png" >
    <title>HALLCROSS - Productos</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">
                <img src="../static/img/LOGO.png" alt="logo de pagina" class="logo-img">
            </a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../static/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./servicios.html">Servicios Y Eventos</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>HALLCROSS</h1>
                <p>
                         Bienvenidos a HALLCROSS: 
                    ¡Entrena, diviértete y desconéctate!
                    Especialmente diseñad@ para vos, busca lo diferente!... 
                    
                </p>
                <a href="#" class="btn-1">informacion</a>
            </div>
        </div>
    </header>    
   

   



    <main class="plans">

        <span>HALLCROSS</span>
        <h2>NUESTROS PLANES</h2>
        <hr>

        <div class="plans-content container">

            <div class="plan-1">
                <span>6000$</span>
                <h3>PASE BASICO</h3>
                <p>entrenador</p>
                <p>acceso 24/7</p>
                <p>dieta</p>
                <p>nutriologo</p>
                <p>sauna</p>
            </div>

            <div class="plan-1">
                <span>10000$</span>
                <h3>PASE REGULAR</h3>
                <p>entrenador</p>
                <p>acceso 24/7</p>
                <p>dieta</p>
                <p>nutriologo</p>
                <p>sauna</p>
                <p>batidos</p>
            </div>

            <div class="plan-1">
                <span>15000$</span>
                <h3>PASE FULL</h3>
                <p>entrenador</p>
                <p>acceso 24/7</p>
                <p>dieta</p>
                <p>nutricionista</p>
                <p>sauna</p>
                <p>batidos proteicos</p>
                <p>masajes</p>
            </div>

        </div>
        <section class="products">
            <div class="container">
                <h2>Nuestros Productos</h2>
                <div class="product-gallery">
                    <img src="../static/img/remeraadelante.jpg" alt="Remera frente" class="product-img">
                    <img src="../static/img/remeraatras.jpg" alt="Remera atras" class="product-img">
                </div>
            </div>
        </section>
        <br>
        <section class="information">

            <div class="information-content">
                <div class="information-txt">
                    <span>HALLCROSS</span>
                    <h2>Calcula tu Masa Corporal</h2>
                    <hr>
                    <form>
                        <input type="text" id="peso" placeholder="Peso (kg)">
                        <input type="text" id="altura" placeholder="Altura (m)">
                        <button type="button" id="btncalcularimc" class="btn-1">Calcular</button>
                    </form>
                    <div id="resultadoimc" class="resultadoimc"></div>
                </div>
                <div class="information-img">
                    <img src="../static/img/f1.jpg" alt="">
                </div>
            </div>
    
            <div class="information-content">
                <div class="information-img">
                    <img src="../static/img/f2.jpg" alt="">
                </div>
                <div class="information-txt">
                    <span>HALLCROSS</span>
                    <h2>Nuestros servicios</h2>
                    <hr>
                    <div class="service">
                        <img src="../static/img/i1.svg" alt="">
                        <h3>
                            Entrenamiento personalizado.
                        </h3>           
                    </div>
    
                    <div class="service">
                        <img src="../static/img/i2.svg" alt="">
                        <h3>
                            Entrenamiento o de fuerza y resistencia.
                        </h3>           
                    </div>
    
                    <div class="service">
                        <img src="../static/img/i3.svg" alt="">
                        <h3>
                            Clases de yoga y meditación.
                        </h3>           
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

        <div class="footer-content container">

            <div class="link">
                <h3>CONTACTO</h3>
                <ul>
                    <li><a href="mailto:hallcross@gmail.com">contacto@hallcross.com</a></li>
                    <li><a href="+1130960485">113096-0485</a></li>
                    <li><a href="#">Sarandi 945</a></li>
                    <li><a href="#">Bs. As.</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>SÍGUENOS</h3>
                <ul>
                    <li><a href="https://www.faceboock.com/hallcross">faceboock</a></li>
                    <li><a href="https://www.instagram.com/hallcross">instagram</a></li>
                    <li><a href="https://www.twiter.com/hallcross">X</a></li>
                    <li><a href="https://www.linkedin.com/hallcross">linkedin</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>POLÍTICAS</h3>
                <ul>
                    <li><a href="#">Políticas de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Uso de imágenes</a></li>
                    <li><a href="#">Cobertura de emergencias</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body></html>